@*DETAILS*@
@model Business.Dtos.ProjectDetailsViewModel



@{
    ViewData["Title"] = "Project Details";
}

<div class="project-details">
    <div class="project-header">
        <h2>@Model.ProjectName</h2>
        <div class="btn-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-edit">Edit</a>
            <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                <button type="submit" class="btn btn-danger">Delete Project</button>
            </form>
        </div>
    </div>

    <div class="project-details">
        <h1>@Model.ProjectName</h1>
        <p>Status: @Model.StatusName</p>
        <p>Description: @Model.Description</p>
        <p>Budget: @Model.Budget</p>
        <p>Start Date: @Model.StartDate.ToShortDateString() </p>
        <p>End Date @Model.EndDate.ToShortDateString()</p>
        <p>Created At: @Model.CreatedAt.ToShortDateString()</p>

    </div>
   

</div>


